.submitPost {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  .submitPost label {
    text-align: left;
    display: block;
  }
  .submitPost h2 {
    font-size: 20px;
    color: #1289b4;
    margin-bottom: 30px;
  }
  .submitPost input, .submitPost textarea, .submitPost select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .submitPost button {
    background:#1289b4;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }