#navbar {
    font-family: 'Poller One', Arial, sans-serif;
    flex-grow: 1;
    max-height: 10%;
    min-height: 40px;
    background-color: #222222;
    color: white;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: space-evenly;
  }


  .links {
    display: flex;
    margin: 5px;
    padding: 1em;
    font-weight: bolder;
    color: white;
    

  }